In [179]:
import os
import pandas as pd
import numpy as np
df=pd.read_csv('/content/drive/MyDrive/Colab/train.csv')
df.info() #сведения о массиве

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [180]:
df.head() #вывод первых 5 строк

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [181]:
df[['Age', 'Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

In [182]:
df.describe() #описание

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [183]:

df.isna().sum() #подсчет пропусков

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [184]:
df['Pclass'].value_counts().sort_index(ascending=True) #билеты по классам

Pclass
1    216
2    184
3    491
Name: count, dtype: int64

In [185]:
df.groupby("Pclass")["Survived"].mean()*100 #выживаемость по классам

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [186]:
import pandas as pd
titanic_df = pd.read_csv('/content/drive/MyDrive/Colab/train.csv')
male_df = titanic_df[titanic_df['Sex']=='male']
male_names=male_df['Name'].str.extract(r'(?:Mr. |Don. |Master. )\s*(\S+)') #имя - первое слово после мистер/мастер и до пробела
female_df = titanic_df[titanic_df['Sex'] == 'female']
female_names=female_df['Name'].str.split().str[-1].str.extract(r'([A-Za-z]+)') #имя - посдеднее слово слово в столбце
most_popular_female_name=female_names.mode()
most_popular_male_name=male_names.mode()
print(male_names[0].value_counts()) #проверка количества повторов мужских имен
print(female_names[0].value_counts()) #проверка количества повторов женских имен
print("Самое частое мужское имя - " + most_popular_male_name)
print("Самое частое женское имя - " + most_popular_female_name)

0
William     34
John        22
George      14
Thomas      12
Charles     12
            ..
Assad        1
Yousseff     1
Ristiu       1
Abraham      1
Johann       1
Name: count, Length: 282, dtype: int64
0
Mary         10
Sofia         6
Anna          5
Elizabeth     5
Kate          4
             ..
Wizosky       1
Wilson        1
Ulrika        1
Norton        1
Carrie        1
Name: count, Length: 252, dtype: int64
                                    0
0  Самое частое мужское имя - William
                                 0
0  Самое частое женское имя - Mary

In [193]:
import pandas as pd
titanic_df = pd.read_csv('/content/drive/MyDrive/Colab/train.csv')
titanic_df['Age'] = titanic_df['Age'].fillna(0).astype(int) #заполнение пустых ячеек 0 и перевод значений в целочисленные
elderly=titanic_df[titanic_df["Age"] >= 44].value_counts()#считаем количество пассажиров, не моложе 43
titanic_df[titanic_df["Age"] >= 44].head(elderly)#вывод строк датафрейма

TypeError: cannot do positional indexing on Index with these indexers [PassengerId  Survived  Pclass  Name                                                               Sex     Age  SibSp  Parch  Ticket       Fare      Cabin        Embarked
7            0         1       McCarthy, Mr. Timothy J                                            male    54   0      0      17463        51.8625   E46          S           1
12           1         1       Bonnell, Miss. Elizabeth                                           female  58   0      0      113783       26.5500   C103         S           1
53           1         1       Harper, Mrs. Henry Sleeper (Myna Haxtun)                           female  49   1      0      PC 17572     76.7292   D33          C           1
55           0         1       Ostby, Mr. Engelhart Cornelius                                     male    65   0      1      113509       61.9792   B30          C           1
63           0         1       Harris, Mr. Henry Birkhardt                                        male    45   1      0      36973        83.4750   C83          S           1
93           0         1       Chaffee, Mr. Herbert Fuller                                        male    46   1      0      W.E.P. 5734  61.1750   E31          S           1
97           0         1       Goldschmidt, Mr. George B                                          male    71   0      0      PC 17754     34.6542   A5           C           1
111          0         1       Porter, Mr. Walter Chamberlain                                     male    47   0      0      110465       52.0000   C110         S           1
125          0         1       White, Mr. Percival Wayland                                        male    54   0      1      35281        77.2875   D26          S           1
171          0         1       Van der hoef, Mr. Wyckoff                                          male    61   0      0      111240       33.5000   B19          S           1
175          0         1       Smith, Mr. James Clinch                                            male    56   0      0      17764        30.6958   A7           C           1
178          0         1       Isham, Miss. Ann Elizabeth                                         female  50   0      0      PC 17595     28.7125   C49          C           1
195          1         1       Brown, Mrs. James Joseph (Margaret Tobin)                          female  44   0      0      PC 17610     27.7208   B4           C           1
196          1         1       Lurette, Miss. Elise                                               female  58   0      0      PC 17569     146.5208  B80          C           1
246          0         1       Minahan, Dr. William Edward                                        male    44   2      0      19928        90.0000   C78          Q           1
253          0         1       Stead, Mr. William Thomas                                          male    62   0      0      113514       26.5500   C87          S           1
263          0         1       Taussig, Mr. Emil                                                  male    52   1      1      110413       79.6500   E67          S           1
269          1         1       Graham, Mrs. William Thompson (Edith Junkins)                      female  58   0      1      PC 17582     153.4625  C125         S           1
276          1         1       Andrews, Miss. Kornelia Theodosia                                  female  63   1      0      13502        77.9583   D7           S           1
300          1         1       Baxter, Mrs. James (Helene DeLaudeniere Chaput)                    female  50   0      1      PC 17558     247.5208  B58 B60      C           1
332          0         1       Partner, Mr. Austen                                                male    45   0      0      113043       28.5000   C124         S           1
340          0         1       Blackwell, Mr. Stephen Weart                                       male    45   0      0      113784       35.5000   T            S           1
367          1         1       Warren, Mrs. Frank Manley (Anna Sophia Atkinson)                   female  60   1      0      110813       75.2500   D37          C           1
435          0         1       Silvey, Mr. William Baird                                          male    50   1      0      13507        55.9000   E44          S           1
439          0         1       Fortune, Mr. Mark                                                  male    64   1      4      19950        263.0000  C23 C25 C27  S           1
450          1         1       Peuchen, Major. Arthur Godfrey                                     male    52   0      0      113786       30.5000   C104         S           1
454          1         1       Goldenberg, Mr. Samuel L                                           male    49   1      0      17453        89.1042   C92          C           1
457          0         1       Millet, Mr. Francis Davis                                          male    65   0      0      13509        26.5500   E38          S           1
461          1         1       Anderson, Mr. Harry                                                male    48   0      0      19952        26.5500   E12          S           1
463          0         1       Gee, Mr. Arthur H                                                  male    47   0      0      111320       38.5000   E63          S           1
488          0         1       Kent, Mr. Edward Austin                                            male    58   0      0      11771        29.7000   B37          C           1
493          0         1       Molson, Mr. Harry Markland                                         male    55   0      0      113787       30.5000   C30          S           1
497          1         1       Eustis, Miss. Elizabeth Mussey                                     female  54   1      0      36947        78.2667   D20          C           1
516          0         1       Walker, Mr. William Anderson                                       male    47   0      0      36967        34.0208   D46          S           1
524          1         1       Hippach, Mrs. Louis Albert (Ida Sophia Fischer)                    female  44   0      1      111361       57.9792   B18          C           1
537          0         1       Butt, Major. Archibald Willingham                                  male    45   0      0      113050       26.5500   B38          S           1
545          0         1       Douglas, Mr. Walter Donald                                         male    50   1      0      PC 17761     106.4250  C86          C           1
557          1         1       Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")  female  48   1      0      11755        39.6000   A16          C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)                      female  53   2      0      11769        51.4792   C101         S           1
588          1         1       Frolicher-Stehli, Mr. Maxmillian                                   male    60   1      1      13567        79.2000   B41          C           1
592          1         1       Stephenson, Mrs. Walter Bertram (Martha Eustis)                    female  52   1      0      36947        78.2667   D20          C           1
600          1         1       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")                       male    49   1      0      PC 17485     56.9292   A20          C           1
626          0         1       Sutton, Mr. Frederick                                              male    61   0      0      36963        32.3208   D50          S           1
631          1         1       Barkworth, Mr. Algernon Henry Wilson                               male    80   0      0      27042        30.0000   A23          S           1
646          1         1       Harper, Mr. Henry Sleeper                                          male    48   1      0      PC 17572     76.7292   D33          C           1
648          1         1       Simonius-Blumer, Col. Oberst Alfons                                male    56   0      0      13213        35.5000   A26          C           1
660          0         1       Newell, Mr. Arthur Webster                                         male    58   0      2      35273        113.2750  D48          C           1
663          0         1       Colley, Mr. Edward Pomeroy                                         male    47   0      0      5727         25.5875   E58          S           1
699          0         1       Thayer, Mr. John Borland                                           male    49   1      1      17421        110.8833  C68          C           1
713          1         1       Taylor, Mr. Elmer Zebley                                           male    48   1      0      19996        52.0000   C126         S           1
746          0         1       Crosby, Capt. Edward Gifford                                       male    70   1      1      WE/P 5735    71.0000   B22          S           1
766          1         1       Hogeboom, Mrs. John C (Anna Andrews)                               female  51   1      0      13502        77.9583   D11          S           1
773          0         2       Mack, Mrs. (Mary)                                                  female  57   0      0      S.O./P.P. 3  10.5000   E77          S           1
790          0         1       Guggenheim, Mr. Benjamin                                           male    46   0      0      PC 17593     79.2000   B82 B84      C           1
797          1         1       Leader, Dr. Alice (Farnham)                                        female  49   0      0      17465        25.9292   D17          S           1
821          1         1       Hays, Mrs. Charles Melville (Clara Jennings Gregg)                 female  52   1      1      12749        93.5000   B69          S           1
858          1         1       Daly, Mr. Peter Denis                                              male    51   0      0      113055       26.5500   E17          S           1
863          1         1       Swift, Mrs. Frederick Joel (Margaret Welles Barron)                female  48   0      0      17466        25.9292   D17          S           1
872          1         1       Beckwith, Mrs. Richard Leonard (Sallie Monypeny)                   female  47   1      1      11751        52.5542   D35          S           1
880          1         1       Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)                      female  56   0      1      11767        83.1583   C50          C           1
Name: count, dtype: int64] of type Series

In [192]:
import pandas as pd
titanic_df = pd.read_csv('/content/drive/MyDrive/Colab/train.csv')
male_df['Age']=titanic_df[titanic_df['Sex'] =='male']['Age'].fillna(0).astype(int)
#заполняеым пустые ячейки и конвертируем в целочсленные значения для пассажиров мужчин
elderly=male_df[male_df["Age"] <= 43].value_counts()#считаем количество мужчин, не старше 43
print(male_df.head(elderly))

TypeError: cannot do positional indexing on Index with these indexers [PassengerId  Survived  Pclass  Name                                  Sex   Age  SibSp  Parch  Ticket    Fare      Cabin        Embarked
22           1         2       Beesley, Mr. Lawrence                 male  34   0      0      248698    13.0000   D56          S           1
24           1         1       Sloper, Mr. William Thompson          male  28   0      0      113788    35.5000   A6           S           1
28           0         1       Fortune, Mr. Charles Alexander        male  19   3      2      19950     263.0000  C23 C25 C27  S           1
56           1         1       Woolner, Mr. Hugh                     male  0    0      0      19947     35.5000   C52          S           1
76           0         3       Moen, Mr. Sigurd Hansen               male  25   0      0      348123    7.6500    F G73        S           1
                                                                                                                                          ..
816          0         1       Fry, Mr. Richard                      male  0    0      0      112058    0.0000    B102         S           1
840          1         1       Marechal, Mr. Pierre                  male  0    0      0      11774     29.7000   C47          C           1
868          0         1       Roebling, Mr. Washington Augustus II  male  31   0      0      PC 17590  50.4958   A24          S           1
873          0         1       Carlsson, Mr. Frans Olof              male  33   0      0      695       5.0000    B51 B53 B55  S           1
890          1         1       Behr, Mr. Karl Howell                 male  26   0      0      111369    30.0000   C148         C           1
Name: count, Length: 68, dtype: int64] of type Series

In [189]:
import pandas as pd
titanic_df = pd.read_csv('/content/drive/MyDrive/Colab/train.csv')
female_df = titanic_df[titanic_df['Sex'] == 'female']
female_df1 = female_df[female_df['Pclass']==1]
female_names1=female_df1['Name'].str.split().str[-1].str.extract(r'([A-Za-z]+)') #имя - посдеднее слово слово в столбце
fname1=female_names1.mode()
female_df2 = female_df[female_df['Pclass']==2]
female_names2=female_df2['Name'].str.split().str[-1].str.extract(r'([A-Za-z]+)') #имя - посдеднее слово слово в столбце
fname2=female_names2.mode()
female_df3 = female_df[female_df['Pclass']==3]
female_names3=female_df3['Name'].str.split().str[-1].str.extract(r'([A-Za-z]+)') #имя - посдеднее слово слово в столбце
fname3=female_names3.mode()
print("Cамое популярное женское имя среди пассажирок 1 класса: "+fname1.to_string(index=False))
print("Cамое популярное женское имя среди пассажирок 2 класса: "+fname2.to_string(index=False))
print("Cамое популярное женское имя среди пассажирок 3 класса: "+fname3.to_string(index=False))

Cамое популярное женское имя среди пассажирок 1 класса:         0
Elizabeth
Cамое популярное женское имя среди пассажирок 2 класса:    0
Mary
Cамое популярное женское имя среди пассажирок 3 класса:    0
Mary

In [190]:
import pandas as pd
titanic_df = pd.read_csv('/content/drive/MyDrive/Colab/train.csv')
male_df = titanic_df[titanic_df['Sex'] == 'male']
male_df1 = male_df[male_df['Pclass']==1]
male_names1=male_df1['Name'].str.extract(r'(?:Mr. |Don. |Master. )\s*(\S+)') #имя - посдеднее слово слово в столбце
mname1=male_names1[0].mode()
male_df2 = male_df[male_df['Pclass']==2]
male_names2=male_df2['Name'].str.extract(r'(?:Mr. |Don. |Master. )\s*(\S+)') #имя - посдеднее слово слово в столбце
mname2=male_names2.mode()
male_df3 = male_df[male_df['Pclass']==3]
male_names3=male_df3['Name'].str.extract(r'(?:Mr. |Don. |Master. )\s*(\S+)') #имя - посдеднее слово слово в столбце
mname3=male_names3.mode()
print("Cамое популярное мужское имя среди пассажиров 1 класса: "+mname1.to_string(index=False))
print("Cамое популярное мужское имя среди пассажиров 2 класса: "+mname2.to_string(index=False))
print("Cамое популярное мужское имя среди пассажиров 3 класса: "+mname3.to_string(index=False))

Cамое популярное мужское имя среди пассажиров 1 класса: William
Cамое популярное мужское имя среди пассажиров 2 класса:       0
William
Cамое популярное мужское имя среди пассажиров 3 класса:       0
William

In [191]:
import pandas as pd
titanic_df = pd.read_csv('/content/drive/MyDrive/Colab/train.csv')
cabincount = titanic_df['Cabin'].value_counts()
#цикл для печати кают с 2-6 пассажирами
for n in range (2,7):
  print(cabincount[cabincount==n])

Cabin
C83                2
C123               2
B28                2
D26                2
B58 B60            2
E33                2
D33                2
C52                2
F G73              2
B77                2
C93                2
B5                 2
D17                2
E24                2
E8                 2
E121               2
B35                2
E44                2
C92                2
C78                2
B20                2
C125               2
E67                2
D35                2
F4                 2
C2                 2
D36                2
C65                2
C124               2
B18                2
B57 B59 B63 B66    2
B49                2
B22                2
E25                2
D20                2
C68                2
B51 B53 B55        2
C126               2
Name: count, dtype: int64
Cabin
F2         3
D          3
E101       3
C22 C26    3
F33        3
Name: count, dtype: int64
Cabin
G6             4
C23 C25 C27    4
B96 B98        4
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)